.links {
  display: flex;
}
.linkWrapper {
  display: block;
  width: 90px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: rgb(121, 145, 217);
    color: #ffffff;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
  @media (max-width: 395px) {
    width: 70px;
    font-size: 14px;
  }
}
.link {
  color: rgb(76, 105, 193);
  text-decoration: none;
}
