.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px) {
    justify-content: flex-start;
  }
}
.pageMain {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
